<ts-header on-search="search"></ts-header>
<div class="row">
    <div class="col-md-8">
        <div ng-repeat="twit in twitts track by $index">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{twit.user.name}}t</h3>
                    <p>{{twit.text}}</p>
                    <p>Retweet count: {{twit.retweet_count}}</p>
                    <p>Favorite count: {{twit.favorite_count}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Search stack:</h2>
        <div ng-repeat="q in searchlist track by $index">{{q.query}} IP:{{q.ip}}</div>
    </div>
</div>