<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container" ng-model="isCollapsed">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Twitter Search</a>
        </div>
        <div class="collapse navbar-collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="rest">REST API</a></li>
                <li ui-sref-active="active"><a ui-sref="stream">Stream API</a></li>
            </ul>
        </div>
    </div>
</nav>