<div class="row">
    <div class="col-md-6">
        <div class="card">
            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
            <div class="avatar">
                <img src="" alt="" />
            </div>
            <div class="content">
                <p>Web Developer <br>
                    More description here</p>
                <p><a ui-sref="rest" class="btn btn-default">REST API</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
            <div class="avatar">
                <img src="" alt="" />
            </div>
            <div class="content">
                <p>Web Developer <br>
                    More description here</p>
                <p><a ui-sref="stream" class="btn btn-default">Stream API</a></p>
            </div>
        </div>
    </div>
</div>