<div class="row centered">
    <div class="col-md-6">
        <div class="card">
            <img src="assets/img/twitter1.jpg" alt="Twitter REST" />
            <div class="avatar">
                <img src="assets/img/avatar.jpg" alt="Twitter REST" />
            </div>
            <div class="content">
                <h3>Twitter REST API Search</h3>
                <p><a ui-sref="rest" class="btn btn-primary btn-block btn-lg">TRY</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="assets/img/twitter2.jpg" alt="Twitter Stream" />
            <div class="avatar">
                <img src="assets/img/avatar.jpg" alt="Twitter Stream" />
            </div>
            <div class="content">
                <h3>Twitter Stream API Search</h3>
                <p><a ui-sref="stream" class="btn btn-primary btn-block btn-lg">TRY</a></p>
            </div>
        </div>
    </div>
</div>